APP_NAME="CoverManager - CRM Service"
APP_ENV=dev
APP_KEY=base64:Q2hYWk1vZ3JkZk1vZ3JkZk1vZ3JkZk1vZ3JkZk1vZ3JkZk1vZ3JkZg==
APP_DEBUG=true
APP_URL=http://covermanager.crm-service.com:8885

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST_READ=postgres
DB_HOST_WRITE=postgres
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

CACHE_STORE=redis
# CACHE_PREFIX=

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

QUEUE_CONNECTION=redis

SAIL_XDEBUG_MODE=develop,debug,coverage
DEBUGBAR_ENABLED=true

MACHINE_TOKEN=<RANDOM TOKEN>

SENTRY_LARAVEL_DSN=

